{% extends 'layout/content.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'vis/dist/vis.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/details.css' %}">
{% endblock %}

{% block content %}
    <h3 class="gene-title">{{entry.description}}</h3>

    <h4>Gene structure</h4>
    <div id="visualization"></div>

    <h4>Sequence</h4>
    <div class='form-inline goto-form'>
        <label class="inline">Go to: </label>
        <input class="form-control mr-sm-2 goto-location" name="cdna_location" type="number" placeholder="cDNA location" aria-label="cDNA location">
    </div>
    <div class="sequence-container">
        <div class="col-location">
            {% spaceless %}
            {% with ''|center:"3" as reps %}
                {% for _ in reps %}
                    {% with ''|center:"10" as col_i %}
                        {% for _ in col_i %}
                            {% if forloop.counter|divisibleby:"10" %}
                                <span class="red">0</span>
                            {% else %}
                                <span>{{ forloop.counter }}</span>
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            {% endwith %}
            {% endspaceless %}
        </div>
        <div class="sequence"></div>
    </div>
{% endblock %}

{% block js-footer %}
    <script src="{% static 'vis/dist/vis.min.js' %}"></script>
    <script src="{% static 'js/details.js' %}"></script>
    <script>
        $(document).ready(() => {
            var features = JSON.parse("{{features_json|escapejs}}")
            var sequence = JSON.parse("{{sequence_json|escapejs}}")
            var gene_length = {{gene_length}}
            formatGeneSequence(sequence, gene_length, 30)
            plotGeneFeatures(features)
        })
    </script>
{% endblock %}
</body>
</html>