{% extends 'layout/content.html' %}
{% load static %}
{% load utils %}

{% block head %}
    <link rel="stylesheet" href="{% static 'vis/dist/vis.min.css' %}">
    <link rel="stylesheet" href="https://www.jqueryscript.net/demo/Bootstrap-4-Dropdown-Select-Plugin-jQuery/dist/css/bootstrap-select.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/details.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
    
    <div class="d-flex flex-column col-8 offset-2">
        <h3>Select columns to be associated</h3>
        <form action="{% url 'association_rules' pk %}" method="GET">
            {% csrf_token %}
            <div class="d-flex justify-content-between">
              <div class="my-2" style="flex-grow: 1;">
                {% for key, value in keys.items %}
                    <div class="custom-control custom-radio d-flex flex-column">
                        <input type="checkbox" class="custom-control-input" id="{{key}}" name="selected" value="{{value}}">
                        <label class="custom-control-label" for="{{key}}">{{value}}</label>
                    </div>
                {% endfor %}
              </div>
              <div class="d-flex flex-column" style="flex-grow: 1;">
                <label class="my-2" for="parameter">Metric Threshold</label>
                <select id="parameter" name="parameter" class="form-control" style="height: auto;" data-toggle="tooltip" title="Defines the metric from which the association rules will be generated.">
                  <option value="confidence">Confidence</option>
                  <option value="lift">Lift</option>
                </select>
                <label class="my-2" for="percentage">Percentage</label>
                <input type="number" min="0" max="1" step="0.1" name="percentage" id="percentage" class="form-control" data-toggle="tooltip" title="Minimum value of the previous choice. Its value must be between 0 and 1" required>
                <label class="my-2" for="support">Support</label>
                <input type="number" min="0" max="1" step="0.1" name="support" id="support" class="form-control" data-toggle="tooltip" title="Refers to the default popularity of an item and can be calculated by finding number of transactions containing a particular item divided by total number of transactions. Its value must be between 0 and 1" required>
                <label class="my-2" for="nodes">Rules to show in graph</label>
                <input type="number" min="0"  name="nodes" id="nodes" class="form-control" 
                data-toggle="tooltip" title="Defines how much nodes will be shown in a rules graph. Values must be greater than 0 and it's max number must be equal to the number of rules." required>
              </div>
            </div>
            <div class="col-md-12 mt-4 text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    
    
{% endblock %}
{% block js-footer %}
    <script type="text/javascript">
        getFileData = function(input) {
            document.getElementById('input-file-label').innerHTML = input.value.split('\\').pop();
        }
        $('#parameter').tooltip({delay: 0}); 
        $('#percentage').tooltip({delay: 0}); 
        $('#support').tooltip({delay: 0}); 
        $('#nodes').tooltip({delay: 0}); 

    </script>
{% endblock %}
</body>
</html>