{% extends 'layout/content.html' %}
{% load static %}

{% block content %}

<h1 class="patient-name">{{patient.full_name}}</h1>

<div class="row">
    <div class="col-md-6">
        <div class="patient-info">
            <p><b>Patient ID:</b> <span>{{patient.identifier}}</span></p>
            <p><b>Age:</b> <span>{{patient.age}}</span></p>
            <p><b>Sex:</b> <span>{{patient.sex}}</span></p>
            <p><b>Diagnosis:</b> <span>{{patient.diagnosis}}</span></p>
            <p><b>Phone:</b> <span>{{patient.phone}}</span></p>
            <p><b>Email:</b> <span><a href="mailto:{{patient.email}}">{{patient.email}}</a></span></p>






            
        </div>
        <h3>Predictions</h3>
        <div class="form-inline">
            <select class="form-control col-md-6" name="" id="pathologies-select">
                {% for pathology in pathologies.all %}
                    <option value="{{ pathology.pk }}">{{pathology.name}}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary predict-btn">Predict</button>
        </div>
        <p class="prediction-result"></p>
    </div>

    <div class="col-md-6">
        <h2>Variations</h2>
        {% if variations %}
            <ul>
            {% for var in variations.all %}
            <li>
                <a href="{% url 'details' %}?id={{var.acc_id}}&start={{ var.start|add:-500 }}&end={{ var.end|add:500 }}">
                    {{ var.hgvs }}
                </a>
            </li>
            {% endfor %}
            </ul>
        {% else %}
            <em>No variations registered for this patient</em>
        {% endif %}
    </div>
</div>


<!-- {% for a in anot.all %}
<li>
    <h1>{{ a.seq_id }}</a></h1>
   
</li>
{% endfor %}
 -->


{% endblock %}


{% block js-footer %}
<script>
    $(document).ready(function() {
        $('.predict-btn').click(function(e) {
            pathology_id = $('#pathologies-select').val()
            pathology_name = $('#pathologies-select').text()
            $.ajax({
                url: '/predict/' + pathology_id,
                method: 'get',
                success: function(response) {
                    pred = parseInt(response.prediction)
                    precision = (parseFloat(response.precision) * 100).toFixed(2)
                    text = 'With a <b>' + precision +'%</b> probability, '
                    text += pred ? 'you have ' : 'you do not have '
                    text += '<b>'+pathology_name+'</b>'
                    $('.prediction-result').html(text)
                }
            })
        })
    })
</script>
{% endblock %}