{% extends 'layout/content.html' %}
{% load static %}

{% block content %}


{% if user.is_authenticated %}
<!--
<h1><b>WELCOME {{ user.full_name }}</b></h1>
-->
    
	<h2>Patients <a class="add-plus-btn" href="{% url 'patient_new' %}">+</a></h2>


<div class="list-group list-group-flush">
{% for patient in patients.all %}
		
		    <a href="{% url 'patient_detail' pk=patient.pk %}" class="list-group-item list-group-item-action">({{patient.identifier}}) {{ patient.full_name }}</a>
		
		{% endfor %}
</div>




{% endif %}


{% endblock %}

