{% extends "layout/content.html" %}
{% load widget_tweaks %}

{% block content %}

<!-- <h3>Login</h3> -->

<div id="login" class="center">
  <h1>Welcome back!</h1>

  {% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
      {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
      {% else %}
      <p>Please login to see this page.</p>
      {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
  {% csrf_token %}

  <div>
    <td>{{ form.username.label_tag }}</td>
    <td>{% render_field form.username class+="form-control" %}</td>
  </div>
  <div>
    <td>{{ form.password.label_tag }}</td>
    <td>{% render_field form.password class+="form-control" %}</td>
  </div>
<br>
  <div>
    <input class='form-control' type="submit" value="Login" />

    <input class='form-control' type="hidden" name="next" value="{{ next }}" />
  </div>
  </form>
   
  <a href="{% url 'signup' %}"><button class="second">Sign Up</button></a>
 <!--  <a href="{% url 'password_reset' %}"><button class="second">Reset Password</button></a> -->

</div>







{% endblock %}