.sequence-container {
	font-size: 0;
}

.sequence, .col-location {
	word-break:break-all;
	font-family:'monospace';
}

.sequence {
	height: 400px;
	overflow-y: scroll;
}

.exon-viz-block {
	background: black;
	color: #FFF;
}

.cds-viz-block {
	background: yellow;
}

.triplet {
	display: inline-block;
	text-align:center;
}

.seq {
	background: #EEE;
	color: #000;
	display: inline-block;
}

.seq .triplet {
	background: #FFFE76 !important;
	color: #000;
}

.translation .triplet.even {
	border-top: 3px solid blue;
	color: blue;
	font-weight: bold;
}

.translation .triplet.odd {
	border-top: 3px solid red;
	color: red;
	font-weight: bold;
}

.gene-title {
	margin-bottom: 2em;
}

.seq-row {
	display:block;
	margin-bottom:0;
}

.row-location {
	display: inline-block;
	background: #FFF;
	color: #999;
	letter-spacing: 0;
}

span.red {
	color: red !important;
}

.col-location {
	color: #999;
}

#visualization {
	margin-bottom: 2em;
}

#variations-form {
	margin-left: 1em;
}

.goto-form {
	margin-bottom: 2em;
}

.goto-location {
	margin-left: 1em;
}

#goto-region {
	margin: 0 1em;
}

.selected-base, .pending-variation {
	background: yellow;
}

.confirm-variation {
	margin-top: 1em;
}

.variation-del {
	background: red;
}

.variation-ins {
	background: green;
	color: #FFF;
}
.variation-sub {
	background: blue;
	color: #FFF;
}

.popover-bases {
	word-break:break-all;
}

.popover {
	left:50em !important;
	top:-10em !important;
	min-width: 500px !important;
}

.comment-box {
	min-width:20em;
	min-height:4em;
}

.variation-source {
	letter-spacing: 0em;
	font-size: 16px;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  display: inline-block;
}

.variation-dup {
	display: inline-block;
	width: 1em;
}
.variation-delins, .variation-insdel {
	background: orange;
}

.padded-char {
	font-size: 16px;
	display: inline-block;
	min-width: 1em;
	text-align: center;
	min-height: 16px;
}

.row-location.padded-char {
	text-align: left;
}

.inline-block {
	display: inline-block;
}

.legend {
	margin-bottom: 1em;
}

.legend-box {
	width: 1em;
	height: 1em;
	display: inline-block;
}

.legend-item {
	margin-left: 1em;
	display: inline-block;
}