.content-container {
	padding-top: 70px;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}

.hidden {
	display: none;
}

#info-home{
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: white;
    padding: 50px;
}

.center{
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

#info-home h1{
    margin-bottom: 100px;
    text-align: center;
}

#info-home button{
    width: 100%;
}

.fullwidth{
    width: 100%;
}

#info-home .row{
    margin-bottom: 20px;
}

.profile-link {
    color: #007bff !important;
}

.field_detail{
    display: inline;
    margin-right: 5px;
}

.cont_detail{

    display: inline;
}

.inline-block {
    display: inline-block;
}

#home{
    background-image: url('../src/dna.jpg');
    height: 100%;
    width: 100%;
}

a.add-plus-btn {
    color: green;
}

a.add-plus-btn:hover {
    text-decoration: none;
    color: darkgreen;
}

.patient-info {
    margin:2em 0;
}

input.form-control[type="submit"], .second {
    margin: 0 5%;
    margin-top: 0px;
    width: 90%;
    position: relative;
    margin-top: 20px;
    height: 45px;
    background-color: transparent;
    border: solid 0.5px  #b7b6b6;
    border-radius: 10px;
}

input.form-control[type="submit"]:hover, .second:hover{
    cursor: pointer;
    background-color: #9267db;
}

label {
    display: block;
}

input.form-control{
    width: 100%;
    height: 40px;
    background: transparent;
    border: solid 0.5px #b7b6b6;
}

#login, #register, .new-patient {
    width: 35%;
    margin: 0 auto;
}

#login h1, #register h1{
    text-align: center;
}

input.form-control[type="submit"]{
    background-color: #5603e1;
    color: white;
    border-color: #5603e1;
}

.second{
    color: #5603e1;
}

input.form-control[type="text"], input[type="email"] {
    padding-left: 10px;
}

.predict-btn {
    margin-left:1em;
}

.menu-item {
    margin-left:1.5em;
}

.gene-results {
    margin-bottom: 2em;
}

.red {
    color: red;
}

#patients-table_wrapper {
    margin-top:2em;
}

#patients-table tbody tr:hover {
    background-color: whitesmoke !important;
    cursor: pointer;
}

.wrapper {
    word-wrap: break-word !important;
    white-space: normal !important;
    word-break: break-all !important;
}