.content-container {
	padding-top: 70px;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}

.hidden {
	display: none;
}

#info-home{
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}


#info-home h1{
    margin-bottom: 100px;
    text-align: center;
}

#info-home button{
    width: 100%;
}

.fullwidth{
    width: 100%;
}

#info-home .row{
    margin-bottom: 20px;
}

.profile-link {
    color: #007bff !important;
}

.field_detail{
    display: inline;
    margin-right: 5px;
}

.cont_detail{

    display: inline;
}


