{% extends 'layout/content.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
	<link rel="stylesheet" href="{% static 'bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
{% endblock %}

{% block content %}
    <h3>Add new patient</h1>
    	<div class="new-patient">
    		<form method="POST" class="patient-form">{% csrf_token %}
		    	{% for field in form %}
			      <p>
			        <label>
			        	{{ field.label }}
				        {% if field.field.required %}
				        	<span class="red">*</span>
				        {% endif %}
				    </label>
			        {% render_field field class+="form-control" %}
			        {% if field.help_text %}
			          <!-- <small style="color: grey">{{ field.help_text }}</small> -->
			        {% endif %}
			        {% for error in field.errors %}
			          <p style="color: red">{{ error }}</p>
			        {% endfor %}
			      </p>
			    {% endfor %}
		        <button type="submit" class="save btn btn-default">Save</button>
		    </form>
    	</div>
    
{% endblock %}

{% block js-footer %}
	<script src="{% static 'bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
	<script>
		$(function() {
			$(".datepicker").datepicker({
			  changeMonth: true,
			  changeYear: true
			});
		});
	</script>
{% endblock %}