{% verbatim %}
<!-- Can't use em since font-size is 0 to avoid whitespace between tags -->
<div class="col-location" style="margin-left: {{ multiply 16 maxLengthDigits }}px;">
	{{#times1 basesPerRow}}
		{{#if (divisible this 10)}}
			<span class="red padded-char">0</span>
		{{else}}
			<span class="padded-char">{{mod this 10}}</span>
		{{/if}}
	{{/times1}}
</div>
<div class="sequence">
	{{#times rowCount}}
		<div class="seq-row" data-row-number='{{this}}' data-features='{{jsonStringify (lookup (lookup ../rows this) "features") }}'>
			{{#if (lookup (lookup ../rows this) "variations")}}
				{{> variationsRow basesPerRow=../basesPerRow row_i=this variations=(lookup (lookup ../rows this) "variations") maxLengthDigits=../maxLengthDigits offset=../start}}
			{{/if}}
			<div class="seq">
				<span class="row-location padded-char" style="min-width: {{ ../maxLengthDigits }}em;">
					{{ sum ../start (multiply this ../basesPerRow) }}
				</span>
				{{#each (lookup (lookup ../rows this) "sequence")}}
					<span id='base-{{ lookup this "position" }}' class="base padded-char" title='cDNA location: {{ lookup this "position" }}' data-location='{{ lookup this "position" }}'>{{ lookup this "base" }}</span>
				{{/each}}
			</div>
		</div>
	{{/times}}
</div>
{% endverbatim %}