{% verbatim %}
<div class="form-group row">
    <label for="Operation" class="col-sm-12 col-form-label">Operation</label>
    <div class="col-sm-4">
        {{#if singleBaseSelected }}
        <div class="form-check">
          <input class="form-check-input" type="radio" name="operation" id="radio-ins" value="ins">
          <label class="form-check-label" for="Ins">Ins</label>
        </div>
        {{/if}}
		<div class="form-check">
		  <input class="form-check-input" type="radio" name="operation" id="radio-del" value="del">
		  <label class="form-check-label" for="Del">Del</label>
		</div>
		<div class="form-check">
		  <input class="form-check-input" type="radio" name="operation" id="radio-insdel" value="insdel">
		  <label class="form-check-label" for="InsDel">Insdel</label>
		</div>
		<div class="form-check">
		  <input class="form-check-input" type="radio" name="operation" id="radio-sub" value="sub">
		  <label class="form-check-label" for="Sub">Sub</label>
		</div>
		<div class="form-check">
		  <input class="form-check-input" type="radio" name="operation" id="radio-dup" value="dup">
		  <label class="form-check-label" for="Dup">Dup</label>
		</div>
    </div>
    <div class="col-sm-8">
        {{#if singleBaseSelected }}
            <form class="hidden annotation-sub-form" data-operation='ins'>
                <label>Insert after position {{startLocation}}:</label>
                <input type="text" class="form-control" name="sequence" />
                <input type="hidden" name="after" value="{{startLocation}}" />
            </form>
        {{/if}}
       	<form class="hidden annotation-sub-form" data-operation='del'>
            {{#if singleBaseSelected }}
                <span>Delete base ({{bases}}) at position ${location}</span>
            {{else}}
                <span>Delete bases <span class='popover-bases'>({{ bases }})</span> from position {{ startLocation }} to {{ endLocation }}</span>
            {{/if}}
    		<input type="hidden" name="start" value="{{ startLocation }}" />
    		<input type="hidden" name="end" value="{{ endLocation }}" />
    	</form>
       	<form class="hidden annotation-sub-form" data-operation='insdel'>
            {{#if singleBaseSelected }}
                <span>Delete base ({{bases}}) at position {{startLocation}} and insert:</span>
            {{else}}
                <label>Delete bases <span class='popover-bases'>({{ bases }})</span> from position {{ startLocation }} to {{ endLocation }} and insert:</label>
            {{/if}}
    		<input type="text" class="form-control" name="sequence" />
    		<input type="hidden" name="start" value="{{ startLocation }}" />
    		<input type="hidden" name="end" value="{{ endLocation }}" />
    	</form>
       	<form class="hidden annotation-sub-form" data-operation='sub'>
            {{#if singleBaseSelected }}
                <span>Substitute base ({{bases}}) at position {{startLocation}} with:</span>
            {{else}}
                <label>Substitute bases <span class='popover-bases'>({{ bases }})</span> from position {{ startLocation }} to {{ endLocation }} with:</label>
            {{/if}}
    		<input type="text" class="form-control" name="sequence" />
    		<input type="hidden" name="start" value="{{ startLocation }}" />
    		<input type="hidden" name="end" value="{{ endLocation }}" />
    	</form>
       	<form class="hidden annotation-sub-form" data-operation='dup'>
            {{#if singleBaseSelected }}
                <span>Duplicate base ({{bases}}) at position {{startLocation}}</span>
            {{else}}
                <label>Substitute bases <span class='popover-bases'>({{ bases }})</span> from position {{ startLocation }} to {{ endLocation }} with:</label>
            {{/if}}
    		<input type="hidden" name="start" value="{{ startLocation }}" />
    		<input type="hidden" name="end" value="{{ endLocation }}" />
    	</form>
    	<button type="button" class="btn btn-primary confirm-annotation hidden">Confirm</button>
    </div>
</div>
{% endverbatim %}