{% verbatim %}
<div class="form-group row">
    <label for="Operation" class="col-sm-12 col-form-label">Operation</label>
    <div class="col-sm-4">
        {{#if singleBaseSelected }}
        <div class="form-check">
          <input class="form-check-input" type="radio" name="operation" id="radio-ins" value="ins">
          <label class="form-check-label" for="Ins">Ins</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="operation" id="radio-sub" value="sub">
          <label class="form-check-label" for="Sub">Sub</label>
        </div>
        {{/if}}
		<div class="form-check">
		  <input class="form-check-input" type="radio" name="operation" id="radio-del" value="del">
		  <label class="form-check-label" for="Del">Del</label>
		</div>
		<div class="form-check">
		  <input class="form-check-input" type="radio" name="operation" id="radio-delins" value="delins">
		  <label class="form-check-label" for="DelIns">Delins</label>
		</div>
		<div class="form-check">
		  <input class="form-check-input" type="radio" name="operation" id="radio-dup" value="dup">
		  <label class="form-check-label" for="Dup">Dup</label>
		</div>
    </div>
    <div class="col-sm-8">
        {{#if singleBaseSelected }}
            <form class="hidden variation-sub-form" data-operation='ins'>
                <label>Insert after position {{startLocation}}:</label>
                <input type="hidden" name="ref" value="{{bases}}" />
                <input type="text" class="form-control" name="alt" />
                <input type="hidden" name="start" value="{{inc startLocation}}" />
                <input type="hidden" name="end" value="{{inc startLocation}}" />
                {% endverbatim %}
                {% include 'handlebars/details/_variation-patient-select.html' with patients=patients %}
                {% include 'handlebars/details/_variation-comment.html' %}

                {% verbatim %}
            </form>
        {{/if}}
       	<form class="hidden variation-sub-form" data-operation='del'>
            {{#if singleBaseSelected }}
                <span>Delete base ({{bases}}) at position {{startLocation}}</span>
            {{else}}
                <span>Delete bases <span class='popover-bases'>({{ bases }})</span> from position {{ startLocation }} to {{ endLocation }}</span>
            {{/if}}
            {% endverbatim %}
            {% include 'handlebars/details/_variation-patient-select.html' with patients=patients %}
            {% include 'handlebars/details/_variation-comment.html' %}

            {% verbatim %}
    		<input type="hidden" name="start" value="{{ startLocation }}" />
    		<input type="hidden" name="end" value="{{ endLocation }}" />
    	</form>
       	<form class="hidden variation-sub-form" data-operation='delins'>
            {{#if singleBaseSelected }}
                <span>Delete base ({{bases}}) at position {{startLocation}} and insert:</span>
            {{else}}
                <label>Delete bases <span class='popover-bases'>({{ bases }})</span> from position {{ startLocation }} to {{ endLocation }} and insert:</label>
            {{/if}}
    		<input type="hidden" name="ref" value="{{bases}}" />
            <input type="text" class="form-control" name="alt" />
            {% endverbatim %}
            {% include 'handlebars/details/_variation-patient-select.html' with patients=patients %}
            {% include 'handlebars/details/_variation-comment.html' %}

            {% verbatim %}
    		<input type="hidden" name="start" value="{{ startLocation }}" />
    		<input type="hidden" name="end" value="{{ endLocation }}" />
    	</form>
       	<form class="hidden variation-sub-form" data-operation='sub'>
            {{#if singleBaseSelected }}
                <span>Substitute base ({{bases}}) at position {{startLocation}} with:</span>
            {{else}}
                <label>Substitute bases <span class='popover-bases'>({{ bases }})</span> from position {{ startLocation }} to {{ endLocation }} with:</label>
            {{/if}}
    		<input type="hidden" name="ref" value="{{bases}}" />
            <input type="text" class="form-control" name="alt" />
            {% endverbatim %}
            {% include 'handlebars/details/_variation-patient-select.html' with patients=patients %}
            {% include 'handlebars/details/_variation-comment.html' %}

            {% verbatim %}
    		<input type="hidden" name="start" value="{{ startLocation }}" />
    		<input type="hidden" name="end" value="{{ endLocation }}" />
    	</form>
       	<form class="hidden variation-sub-form" data-operation='dup'>
            {{#if singleBaseSelected }}
                <span>Duplicate base ({{bases}}) at position {{startLocation}}</span>
            {{else}}
                <label>Substitute bases <span class='popover-bases'>({{ bases }})</span> from position {{ startLocation }} to {{ endLocation }} with:</label>
            {{/if}}
            {% endverbatim %}
            {% include 'handlebars/details/_variation-patient-select.html' with patients=patients %}
            {% include 'handlebars/details/_variation-comment.html' %}

            {% verbatim %}
    		<input type="hidden" name="start" value="{{ startLocation }}" />
    		<input type="hidden" name="end" value="{{ endLocation }}" />
    	</form>
    	<button type="button" class="btn btn-primary confirm-variation hidden">Confirm</button>
    </div>
</div>
{% endverbatim %}