{% load static %}

<!DOCTYPE html>
<html>
<head>
	{% block title %}
	<title>GenViz</title>
	{% endblock %}

	<link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	{% block head %}{% endblock %}
</head>
<body>
	{% block header %}
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="#">GenViz</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="#">Inicio</a>
		      </li>
		    </ul>
		    <form class="form-inline my-2 my-lg-0" id="search-navbar" action='/results'>
		      <input class="form-control mr-sm-2" name="term" type="search" placeholder="Buscar..." aria-label="Buscar">
		      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
		    </form>
		  </div>
		</nav>
	{% endblock %}

	<div class="container content-container">
		{% block content %}{% endblock %}
	</div>
	{% block footer %}{% endblock %}

	<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
	<script src="{% static 'js/search.js' %}"></script>
	<script>
		$(document).ready(() => {
			$('form#search-navbar').submit((e) => {
				// TODO: Handle when going back
				var input_term = $('form#search-navbar').find("input[name='term']")
				input_term.val(formatSearchTerm(input_term))
			})
		})
	</script>
	{% block js-footer %}
	{% endblock %}
</body>
</html>