{% extends 'layout/base.html' %}
{% load static %}

{% block header %}
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="/">GenViz</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

		<div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarSupportedContent">
			<ul class="navbar-nav nav mr-auto">
				<li class="nav-item menu-item">
					<a href="{% url 'search' %}">Search</a>
				</li>
		      	{% if user.is_authenticated %}
					<li class="nav-item menu-item">
						<a href="{% url 'patients_list' %}">Patients</a>
					</li>
				{% endif %}
				<li class="nav-item menu-item">
					<a href="{% url 'upload' %}">Upload</a>
				</li>
			</ul>
	  	</div>
  		<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    	<ul class="navbar-nav ml-auto">
      	{% if not user.is_authenticated %}
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="navbar-text">Already have an account?</span> <b>Login</b> <span class="caret"></span></a>
						<ul id="login-dp" class="dropdown-menu">
							<li>
								<div class="row">
									<div class="col-md-12">
										 <form class="form" role="form" method="post" action="{% url 'login' %}" accept-charset="UTF-8" id="login-nav">
										 	{% csrf_token %}
												<div class="form-group">
													 <label class="sr-only" for="exampleInputEmail2">Email address</label>
													 <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" name="username" required>
												</div>
												<div class="form-group">
													 <label class="sr-only" for="exampleInputPassword2">Password</label>
													 <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" name="password" required>
		                       <div class="help-block text-right"><a href="{% url 'password_reset' %}">Forget the password ?</a></div>
												</div>
												<div class="form-group">
													 <button type="submit" class="btn btn-primary btn-block">Sign in</button>
												</div>
										 </form>
									</div>
									<div class="bottom text-center">
										New here ? <a href="{% url 'signup' %}"><b>Sign up</b></a>
									</div>
							 	</div>
							</li>
						</ul>
	        </li>
	        {% else %}
	        <li class="navbar-item">
	        	<span class="navbar-text">Welcome <a href="{% url 'patients_list' %}" class="profile-link"><b>{{ user.full_name }}!</b></a></span>
	        	<a href="{% url 'logout' %}">Logout</a>
	        </li>
	        {% endif %}
	      </ul>
	    </div>
	  </div>
	</nav>
{% endblock %}